.theme-switch-wrapper {
    position: absolute;
    right: 0;
    top: 0;
    margin: 10px;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 40px;
    width: 40px;
    left: 0;
    top: 0;
    margin: auto 0;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    box-shadow: 0 0 15px #2020203d;
    background: white url('https://i.ibb.co/7JfqXxB/sunny.png') no-repeat center;
}

.slider:before {
    bottom: 0;
}

input:checked + .slider {
    background-color: #A379F1FF;
}

input:focus + .slider {
    box-shadow: 0 0 1px #A379F1FF;
}

input:checked + .slider:before {
    -webkit-transform: translateX(24px);
    -ms-transform: translateX(24px);
    transform: translateX(24px);
    background: white url('https://i.ibb.co/FxzBYR9/night.png') no-repeat center;
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

html.transition,
html.transition * {
    -webkit-transition: all 750ms !important;
    transition: all 750ms !important;
}